.Pole {
  width: 15rem;
  height: 15rem;
  border-bottom: 2px solid black;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  margin: 0.25rem;
}

.Stick {
  height: 100%;
  border: 1px solid black;
}

.Blocks {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
